<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="theme.css" type="text/css">
    <title>Golden Brokers</title>
    <meta name="description" content="Pingendo app landing page">
    <meta name="keywords" content="Pingendo app mobile responsive ios android">


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-38741299-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-38741299-1');
</script>


  </head>
  <body class="text-center">

  
  <nav class="navbar navbar-expand-md bg-light">
    <div class="container">
      <a class="navbar-brand text-info" href="http://www.goldenbrokers.ca"><b>GoldenBrokers</b></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">


      </div>
    </div>
  </nav> 

<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='MMERGE3';ftypes[3]='phone';}(jQuery));var $mcj = jQuery.noConflict(true);</script>


<div class="container-fluid">
<div id="enter">
    <h1>Get our Weekly updates! </h1>
    <form action="https://GoldenBrokers.us7.list-manage.com/subscribe/post?u=d6f05baf0d7e162988d717d73&amp;id=9d019f8394" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="p-4 validate" target="_blank" novalidate>
    <div id="form-login-username" class="input-group">
      <input class="input-field email" size="18" placeholder="Email" type="email" value="" name="EMAIL" id="mce-EMAIL">       
    </div>
    <div id="form-login-password" class="input-group">
      <input class="input-field" placeholder="First" type="email" value="" name="FNAME" id="mce-FNAME" size="18" alt="first">
    </div>
    <div id="form-login-password" class="input-group">
      <input class="input-field" placeholder="Last" type="email" value="" name="LNAME" id="mce-LNAME" size="18" alt="last">
    </div>
    <div id="form-login-password" class="input-group">  
      <input class="input-field" placeholder="Phone" type="email" name="MMERGE3" value="" id="mce-MMERGE3" size="18" alt="password">
     <!--
<select required>
  <option label="Choose"></option>
  <option style="display:none;"></option>
  <option disabled hidden>Choose here</option>
  <option value="volvo">Volvo</option>
  <option value="saab">Saab</option>
  <option value="mercedes">Mercedes</option>
  <option value="audi">Audi</option>
</select>   -->
    </div>  
    <br>
    <div id="form-login-remember" class="input-group float-left">
      <label class="float-left"><strong>I'm interested in these topics:</strong></label>
    </div>    
    <div id="form-login-remember" class="input-group float-left">
      <input class="av-checkbox float-left" data-dojo-type="dijit/form/CheckBox" id="group_8" name="group[17509][8]" type="checkbox" value="1">
      <label class="float-left" for="mce-group[16521]-01234-0"><strong>Updates on this property</strong></label>
    </div>
    <div id="form-login-remember" class="input-group float-left">
      <input class="av-checkbox float-left" data-dojo-type="dijit/form/CheckBox" id="group_4" name="group[17509][4]" type="checkbox" value="1">
      <label class="float-left" for="mce-group[16521]-01234-0"><strong>Market Updates</strong></label>
    </div>
    <div id="form-login-remember" class="input-group float-left">
      <input class="av-checkbox float-left" data-dojo-type="dijit/form/CheckBox" id="group_1" name="group[17509][1]" type="checkbox" value="1">
      <label class="float-left" for="mce-group[16521]-01234-0"><strong>Good Deals</strong></label>
    </div>
    <div id="form-login-remember" class="input-group float-left">
      <input class="av-checkbox float-left" data-dojo-type="dijit/form/CheckBox" id="group_2" name="group[17509][2]" type="checkbox" value="1">
      <label class="float-left" for="mce-group[16521]-01234-0"><strong>VIP Projects</strong></label>
    </div>
    <br>
    <br>    
    <br>
    <br>
  <div id="mce-responses" class="clear">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
  </div>

    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d6f05baf0d7e162988d717d73_9d019f8394" tabindex="-1" value="">
    </div>



    <div id="submit-buton" class="input-group">
            <input class="btn btn-ok input-field" type="submit" name="Submit" alt="sign in" value="Sign Up">
    </div>
  </form>
</div>
</div>

<style>
/* -- import Bootstrap v3 and Open Sans Font ------------------------------------- */
@import "//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css";
@import "//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700";
/* -- box model ------------------------------------- */
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* -- main styles ------------------------------------- */
body {
    font-family: 'Open Sans', sans-serif;
  
    background: #FFD000 url("") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;  /* Internet Explorer 7/8 */
}
#enter {
    max-width: 570px;
    margin: 20px auto;
    padding: 30px;
    border-radius: 5px;
    
    background-color: #e9ecee;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 0px 15px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 0px 15px 0px rgba(50, 50, 50, 0.5);
}
#enter .logo-image {
    text-align: center;
}
#enter img {
    max-width: 100%;
    max-height: 150px;
}
#enter h1, #enter p {
    text-align: center;
}
#enter h1 {
    font-size: 24px;
    line-height: 24px;
}
/* -- form styles ----------------------------------- */
label {
    display: inline;
    font-size: 1.3em;
    font-weight: 300;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    margin-bottom: 15px;
    width: 100%;
}
.input-field {   
    height: 60px;
    width: 100%;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 1.5em;
    font-weight: 300;
}
/* -- input styles ----------------------------------- */
#enter form input[type="text"],
#enter form input[type="password"]{
    background-color: #d9dde0;
    color: black;
}
#enter form input[type="text"]:hover,
#enter form input[type="password"]:hover{
    background-color: #ced2d5;
    color: black;
    outline-color: #495a68;
}
#enter form input[type="text"]:focus,
#enter form input[type="password"]:focus{
    background-color: #ecf0f1;
    color: black;
    outline-color: #495a68;
}
#enter form input[type="text"]:valid,
#enter form input[type="password"]:valid{
    background-color: #1abc9c;
    color: black;
    outline-color: #495a68;
}
#enter form input[type="text"]:invalid,
#enter form input[type="password"]:invalid{
    outline-color: #495a68;
}
/* -- checkbox styles ----------------------------------- */
#enter input[type="checkbox"] {
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    position: relative;
    outline: medium none;
    margin-right: 10px;
    border-radius: 50%;
}
#enter input[type="checkbox"]::before {
    width: 28px;
    height: 28px;
    content: "";
    display: block;
    border: 2px solid #495a68;
    border-radius: 50%;
    position: absolute;
}
#enter input[type="checkbox"]:checked::before {
    border-color: #495a68;
}
#enter input[type="checkbox"]:checked::after {
    width: 14px;
    height: 14px;
    content: "";
    display: block;
    background: #495a68;
    border-radius: 50%;
    position: absolute;
    left: 7px;
    top: 7px;
}
#form-login-remember label {
    vertical-align: top;
    line-height: 36px;
    margin-bottom: 0;
}
/* -- button styles ----------------------------------- */
.btn-ok {
    color: #e9ecee;
    background-color: #495a68;
    border-color: #495a68;
}
.btn-ok:hover,
.btn-ok:focus,
.btn-ok:active,
.btn-ok.active {
    color: #e9ecee;
    background-color: #3e4d59;
    border-color: #3e4d59;
}
.btn-ok:active,
.btn-ok.active {
    background-image: none;
}
.btn-ok.disabled,
.btn-ok[disabled],
fieldset[disabled] .btn-ok,
.btn-ok.disabled:hover,
.btn-ok[disabled]:hover,
fieldset[disabled] .btn-ok:hover,
.btn-ok.disabled:focus,
.btn-ok[disabled]:focus,
fieldset[disabled] .btn-ok:focus,
.btn-ok.disabled:active,
.btn-ok[disabled]:active,
fieldset[disabled] .btn-ok:active,
.btn-ok.disabled.active,
.btn-ok[disabled].active,
fieldset[disabled] .btn-ok.active {
    background-color: #428bca;
    border-color: #357ebd;
}
/* -- placeholder styles ----------------------------------- */
#enter form ::-webkit-input-placeholder {
    /* for webkit browsers */
    text-align: center;
    color: #555555;
}
#enter form :-moz-placeholder {
    /* for mozilla browsers */
    text-align: center;
    color: #555555;
}
#enter form .placeholder {
    text-align: center;
    color: #555555;
}
  select {
    height: 5.4em;
    width: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: 2;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';  
    text-align-last:center; 
    border: none;
  }
  select:valid {
    height: 5.4em;
    width: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: 2;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';  
    text-align-last:center; 
    border: none;
    background-color: #1abc9c;
    color: black;  
  }
</style>  



<script>
jQuery('#username[placeholder], #password[placeholder]').placeholder();
</script>  

  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
  <script src="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.min.js"></script>
  <script src="https://pingendo.com/assets/scripts/smooth-scroll.js"></script>


</body></html>